.contact {
    width: 100vw;
    height: 650px;
    background: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact > h1 {
    font-size: 80px;
}

.contact > h2 {
    color: rgb(39, 191, 214);
}

.contact a {
    text-decoration: none;
    color: black;
}

@media (max-width: 650px) {
    .contact > h1 {
        font-size: 55px;
    }
    .contact > h2 {
        font-size: 20px;
    }
}